*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:#F4F4F9;
}
$titulo-font: 'Raleway', sans-serif;
$weigth1: 800;
$weigth2: 100;
$texto-font:'Lora', serif;
$color1: #F4F4F9;
$color2: #FF7A59;
$color3: #FFE5D9;
$color4: #333333;
$color5: #555555;
$color6: #FF3E55;
